MONGODB_URI=mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@bankcluster.38xmjwx.mongodb.net/?appName=BankCluster
MONGODB_DB_NAME=BankCluster
ALLOWED_ORIGINS=https://your-vercel-app.vercel.app
FLASK_ENV=production
SEED_DATABASE=false
